@import '../index.scss';

.sectionContainer {
    padding: 20px;
    box-sizing: border-box;
    background-color: $white;
    @include radius-md;

    @media (max-width: 500px) {
        padding: 10px;
    }
}