@import '../../../styles/index.scss';

.catalogItem {

    .catalogName {
        margin-bottom: 10px;

        h4 {
            font-weight: 600;
            font-size: 17px;
            padding: 30px 0;
            text-align: center;
            border-bottom: 2px solid $bgGray;
        }
    }

    .categoryList {

    }
}