@import '../../../styles/index.scss';

.view {
    display: flex;

    .viewItem {
        position: relative;
        width: 26px;
        height: 26px;
        margin: 0 8px;
        cursor: pointer;
        opacity: .3;
        @include transitionLow;
        @include flexCenter;

        &.row, &.column {
            opacity: 1;
        }
    }
}