@import '../../../styles/index.scss';

.inputWrapper {
    width: 100%;
    position: relative;

    &:before {
        content: "₴";
        position: absolute;
        color: $zinc;
        font-weight: 600;
        background-color: $bgGray;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        @include flexCenter;
        bottom: 2px;
        left: 2px;
        width: 40px;
        height: 38px;
        z-index: 2;
      }

    .label {
        @include formLabelStyles;
    }

    .input {
        @include formInputStyles;
        padding-left: 52px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

}