@import '../../../styles/index.scss';

.cardTitle, .formTitle {
    display: flex;
    align-items: center;

    .rectColor {
        border-radius: 4px;
        margin-right: 15px;
    }

    .titleText {
        font-weight: 600;
    }
}

.cardTitle {
    .rectColor {
        width: 16px;
        height: 40px;
    }

    .titleText {
        font-size: 20px;
    }
}

.formTitle {
    .rectColor {
        width: 14px;
        height: 34px;
    }

    .titleText {
        font-size: 17px;
    }
}