@import '../../../styles/index.scss';

.selectWrapper {
    position: relative;

    .selectLabel {
        @include formLabelStyles;
    }

    .selected {
        @include formInputStyles;
        @include flexBetween;
        background: $white;
        padding: 0 16px;
        cursor: pointer;
        transition: background .2s ease-in-out;
        z-index: 1;

        svg {
            transition: all .2s ease-in-out
        }
    }

    &.open {
        .selected {
            z-index: 5;
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.portal {

    @include flexCenter;
    .optionsWrapper {
        position: absolute;
        width: 92%;
        max-width: 500px;
        margin: auto;
        opacity: 0;
        visibility: hidden;

        .options {
            @include formInputStyles;
            z-index: 7;
            background-color: $white;
            max-height: 256px;
            height: auto;
            overflow-y: scroll;
            overscroll-behavior: contain;

            .optionItem {
                transition: all .2s ease-in-out;
                padding: 14px 16px;
                cursor: pointer;

                &:hover {
                    background-color: $bgGray;
                }
            }

            &.open {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.open {
        position: fixed;
        background: #44444436;
        z-index: 4;
        inset: 0;
        .optionsWrapper {
            z-index: 10;
            opacity: 1;
            visibility: visible;
        }

        // .optionsBackground {

        // }
    }
}