@import '../../styles/index.scss';

.form {
    padding-bottom: 1200px;
    display: flex;
    column-gap: 48px;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    .formCol {
        flex: 1;



        .formSection {

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            .formItem {

                &:not(:last-child) {
                    margin-bottom: 18px;
                }
            }
        }
    }


}