@import "../../../styles/index.scss";

.imageContainer {
  position: relative;

  .imageWrapper {
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 150%;
    transform: scale(0.2);
    opacity: 0;
    transition: all .1s ease-in-out;

    & > div {
      position: unset !important;
    }

    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .imageReady {
    transform: scale(1);
    opacity: 1;
  }

  .imageSkeleton {
    position: absolute;
    inset: 0;
    width: 100%;
    padding-top: 150%;

    animation: shines 2.2s infinite linear;
    background-image: linear-gradient(91deg, #f6f6f6 0px, #ececece6 40px, #f6f6f6 80px);
    background-size: 600px;
  }
}

@keyframes shines {
  0% {
    background-position: -100px;
  };

  40%, 100% {
    background-position: 440px;
  }
}