@import '../../styles/index.scss';

$headerMobileSize: 84px;

.layout {
    width: 100vw;
    position: fixed;
    inset: 0;
    overscroll-behavior: contain;
    overflow: hidden;
    background-color: $bgGray;

    .layout__header {
        width: inherit;
        height: 100px;
        z-index: 2;
        @include viewTransition;

        @media (max-width: 700px) {
            height: $headerMobileSize;
        }
    }

    .layout__group {
        display: flex;
        position: fixed;
        inset: 0;
        top: 100px;
        height: calc(var(--app-height) - 100px);
        width: 100%;
        @include viewTransition;

        @media (max-width: 700px) {
            top: $headerMobileSize;
            flex-direction: column-reverse;
            height: calc(var(--app-height) - #{$headerMobileSize});
        }
    }

    .layout__navbar {
        height: var(--app-height);
        width: 100px;
        @include viewTransition;
        background-color: $white;

        @media (max-width: 700px) {
            width: 100%;
            height: $headerMobileSize;
        }
    }

    .layout__content {
        height: inherit;
        width: 100%;

        @media (max-width: 700px) {
            height: calc(var(--app-height) - #{$headerMobileSize} - #{$headerMobileSize});
        }
    }

    .viewMode {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px 24px 0px 0px;
        background-color: $white;
        @include flexCenter;
        cursor: pointer;
        transform: translateY(100%);
        @include viewTransition;

        &.active {
            transform: translateY(0);
        }

        span {
            font-weight: 600;
            font-size: 13px;
            margin-left: 10px;
        }
    }

    &.hide {
        .layout__header {
            transform: translateY(-100%);
        }

        .layout__navbar {
            transform: translateX(-100%);

            @media (max-width: 700px) {
                transform: translateY(100%);
            }
        }

        .layout__group {
            height: calc(var(--app-height) - 56px);
            width: calc(100% + 100px);
            transform: translate(-100px, -100px);

            @media (max-width: 700px) {
                transform: none;
                width: 100%;
            }

            .layout__content {
                height: 100%;
            }
        }
    }
}