@import '../../styles/index.scss';

.alert {
    @include flexCenter;
    padding: 16px 20px;
    @include radius-sm;

    &.success {
        background-color: $success;
    }

    &.error {
        background-color: $danger;
    }

    .alertIcon {
        position: relative;
        width: 15px;
        height: 15px;
        margin-right: 15px;

        img {
            width: inherit;
            height: inherit;
        }
    }

    .alertText {
        font-size: 14px;
        font-weight: 600;
        color: $white;
    }
}