@import '../../styles/index.scss';

.ctalogWrapper {

    .catalogList {
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        background-color: $bgGray;
        box-sizing: border-box;

        .catalogItem {
            flex: 1;
            min-width: 290px;
            background-color: $white;
            @include radius-md;
            box-sizing: border-box;
            padding: 0 8px 8px 8px;
            box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);


            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}
